*{
    margin: 0 auto;
    padding: 0;
}

p{
    text-decoration: none;
    font-size: 8px;
    font-weight: bold;
    color: grey;
}

/* Inheritated from `P` Selection tag */
.detail_p{
    background-color: green;
    text-shadow: 1px;
}

/* Inheritated from `P` Selection tag */
.detail_another_p{
    background-color: yellow;
    color: #fff;
    text-decoration: darkorange;
}